html,
body {
  font-family: 'Roboto', sans-serif;
}

.auth-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: right;
}

//  TURN OFF INPUT NUMBER ARROWS
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
// QT INPUT
.qt-input {
  max-width: 3rem;
  padding: 0 1rem !important;
}

.card {
  border-color: transparent;
}
.page-content {
  min-height: 100vh;
  margin-top: 70px;
}
.bg-lighten-blue {
  background-color: $lighten-blue;
}
.laoding-component {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $light, $alpha: 0.5);
  z-index: 3;
  .spinner {
    margin: auto;
    top: 50%;
    position: absolute;
    left: 50%;
  }
}
